.Home {
  background-image: url("/public/img/login.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.Home h1,
small {
  color: #161616;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}

.box-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 400px;
  height: 450px;
  background-color: #ebbd29;
  border-radius: 25px;
  padding: 20px;
  z-index: 2;
}

.inputs-login {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-login .form-control {
  text-align: center;
  font-size: 18px;
  width: 350px;
  margin: 15px auto;
  background-color: #fff !important;
}

.btn-login {
  background: #cb6be6 !important;
  font-size: 19px !important;
  transition: all 0.2s ease-in-out !important;
  margin-bottom: 10px;
  cursor: pointer;
  color: #ffffff !important;
  font-weight: 600 !important;
  position: relative;
  width: 70%;
}

.btn-login:hover {
  background-color: #781d92!important;
  color: #000 !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  scale: 1.1;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container .toggle-password {
  position: absolute;
  right: 3%;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #000000;
}

.form-check {
  z-index: 2;
}

.form-check-input {
  z-index: 2;
  margin-top: 30px;
}

.form-check-label {
  margin-bottom: 0;
  color: #2b2b2b;
  font-weight: 600;
  font-size: 17px;
}

.password-visible {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
}

.recuperar-senha {
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.recuperar-senha-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 450px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2);
  padding-inline: 20px;
}

.recuperar-senha-content h2 {
  color: #ffffff;
}

.recuperar-senha-content input {
  width: 70%;
  border: 1px solid #000;
}

.recuperar-senha-content .btn-recuperar {
  width: 150px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.recuperar-senha-content .btn-fechar {
  position: absolute;
  top: 23.5%;
  right: 36%;
  color: #fff;
  border-radius: 25px;
}

.circle {
  content: "";
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  border-radius: 50%;
  opacity: 0; /* Começa invisível */
  transition: all 0.5s ease-in-out; /* Transição suave */
}

.circle.surging {
  animation: surge 0.9s ease-in-out forwards; /* Animação de surgimento */
  opacity: 1; /* Torna-se visível durante a animação */
}

@keyframes surge {
  0% {
    transform: translateY(100px); /* Começa fora da tela (para baixo) */
    opacity: 0; /* Começa invisível */
  }
  100% {
    transform: translateY(0); /* Volta para a posição original */
    opacity: 1; /* Fica visível */
  }
}

/* Defina as posições e tamanhos dos círculos */
.circle:nth-child(1) {
  width: 30px;
  height: 30px;
  top: 40%;
  left: 20%;
}

.circle:nth-child(2) {
  width: 50px;
  height: 50px;
  left: 75%;
  top: 30%;
}

.circle:nth-child(3) {
  width: 35px;
  height: 35px;
  top: 10%;
  left: 10%;
}

.circle:nth-child(4) {
  width: 45px;
  height: 45px;
  left: 5%;
  top: 76%;
}

.circle:nth-child(5) {
  width: 66px;
  height: 66px;
  left: 90%;
  top: 84%;
}
