.bg-contrato {
  background: linear-gradient(150deg, #781d92 50%, #cb6be6 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-break {
  page-break-before: always;
}
.bg-infos-contrato {
  min-height: 100vh;
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  position: relative;
  z-index: 1;
}

.link-container {
  background: #f9f9f9;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.2s ease-in-out;
}

.link-container:hover {
  border-color: #007bff;
  background: #f1f7ff;
}

.linkDaAssinatura {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  word-break: break-word; /* evita quebrar layout se o link for gigante */
}

.linkDaAssinatura:hover {
  text-decoration: underline;
}

.bg-infos-contrato .linkDaAssinatura{
  width: 100%;
}

.primeiraPagina,
.segundaPagina {
  width: 800px;
  min-height: 1070px;
  position: relative;
}

.faixa-roxa-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #582c83;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 35px;
  color: #fff;
}



.faixa-roxa-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #582c83;
  border-radius: 0 0 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.primeiraPaginaContent {
  background-image: url("/public/img/fundo_contrato.png");
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.title-component-contrato {
  display: flex;
  color: black;
  background-color: #ff914d;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding-inline: 10px;
  border-radius: 10px;
}

.linha-campo {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.campo-label {
  font-size: 13.5px;
  font-weight: 500;
}

.campo-linha {
  flex: 1;
  border-bottom: 1px solid black;
  height: 18px;
  line-height: 20px;
}

.autorizante-contrato {
  position: relative;
}

.img-contrato-relogio{
  position: absolute;
  bottom: 50px;
  right: 10%;
  width: 100px;
}

.assinatura-prop-contrato {
  position: absolute;
  right: 0;
}

.assinatura-prop-contrato .campo-linha {
  bottom: -25px;
}

.faixa-roxa-top h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff914d;
  margin-top: 10px;
  border-radius: 2px;
}

.termos-contrato-segunda{
  margin-top: 260px;
  padding: 0 35px;
  text-align: justify;
  font-size: 13px;
  line-height: 1.1;
}


.footer-segunda-pagina{
  margin-top: 140px!important;
}

.linha-infos-termos {
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
  flex: 1;
  height: 18px;
  line-height: 10px;
}

.faixa-roxa-bottom-segunda {
  margin-top: 20px;
  border-radius: 30px 30px 0 0;
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #582c83;
}


.tipo-atualizacao-contrato{
  line-height: 1.1;
}
